@model Product

@{
    ViewData["Title"] = " | Product Details";
}


<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Shop Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details dec-img-wrap">
                    <img src="~/images/products/@Model.ImageName" alt="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2>@Model.Title</h2>
                    <div class="product-details-price">
                        <span>@Model.Price.ToString("c")</span>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="pro-details-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    
                    <div class="pro-details-list">
                        <p>@Html.Raw(Model.Description)</p>
                    </div>
                    <div class="pro-details-size-color">
                        <div class="pro-details-color-wrap">
                            <span>Color</span>
                            <div class="pro-details-color-content">
                                <ul>
                                    <li class="blue"></li>
                                    <li class="maroon active"></li>
                                    <li class="gray"></li>
                                    <li class="green"></li>
                                    <li class="yellow"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pro-details-quality">
                        <div class="pro-details-cart btn-hover">
                            <form asp-action="Add" asp-controller="Cart" method="post">
                                <button type="submit" name="id" value="@Model.ProductId"
                                        class="btn btn-dark">
                                    Add To Cart
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="pro-details-meta">
                        <span>Category :</span>
                        <ul>
                            <li><a href="#">@Model.Category.Name</a></li>
                        </ul>
                        
                    </div>
                    <div class="pro-details-meta">
                        
                        <span>Brand :</span>
                        <ul>
                            @foreach (var keyValuePair in Model.ProductBrands)
                            {
                                <li>
                                    <a href="#">
                                        @keyValuePair.Brand.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="pro-details-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>