@{
    var current = ViewContext.RouteData.Values["controller"]?.ToString();
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <link href="~/admin/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/admin/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="~/admin/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="~/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="~/admin/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="~/admin/img/logo.jpg" alt="bootraper logo" class="app-logo" heigth="42" width="130">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a class="@Nav.Active("Product", current)" asp-action="Index" asp-controller="Product"><i class="fas fa-book-open"></i>Product</a>
                </li>
                <li>
                    <a class="@Nav.Active("Brand", current)" asp-action="Index" asp-controller="Brand"><i class="fas fa-feather-alt"></i>Brand</a>
                </li>
                <li>
                    <a class="@Nav.Active("Category", current)" asp-action="Index" asp-controller="Category"><i class="fas fa-list-alt"></i>Category</a>
                </li>
                <li>
                    <a class="@Nav.Active("User", current)" asp-action="Index" asp-controller="User"><i class="fas fa-user-friends"></i>User</a>
                </li>
            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                       
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>@User.Identity.Name</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                                                <button type="submit" value="Log Out" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            
            <div class="content">
               
                @if (TempData.Keys.Contains("message")) {
                    <div class="container">
                        <div class="col-sm-6 card-body">
                            <div class="alert alert-info" role="alert">@TempData["message"]</div>
                        </div>
                    </div>
                }
                @RenderBody()
              
            </div>
        </div>
    </div>
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/vendor/datatables/datatables.min.js"></script>
    <script src="~/admin/js/initiate-datatables.js"></script>
    <script src="~/admin/js/script.js"></script>
</body>

</html>