@model CartViewModel

@{
    ViewData["Title"] = " | Cart";
}


<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-90 pb-100">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form asp-action="Remove" method="post">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Brand Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CartItem item in Model.List)
                                {
                                    <tr>
                                        <td class="product-name">
                                            <a asp-action="Details" asp-controller="Product"
                                           asp-route-id="@item.Product.ProductId"
                                           asp-route-slug="@item.Product.Title.Slug()">
                                                @item.Product.Title
                                            </a>
                                        </td>
                                        <td>
                                            @foreach (var keyValuePair in item.Product.Brands)
                                            {
                                                <p>
                                                    <a asp-action="Details" asp-controller="Brand" asp-route-id="@keyValuePair.Key" asp-route-slug="@keyValuePair.Value.Slug()">
                                                        @keyValuePair.Value
                                                    </a>
                                                </p>
                                            }
                                        </td>
                                        <td class="product-price-cart">@item.Product.Price.ToString("c")</td>
                                        <td class="product-quantity">@item.Quantity</td>
                                        <td class="product-subtotal">@item.Subtotal.ToString("c")</td>
                                        <td class="product-remove">
                                            <a asp-action="Edit" asp-controller="Cart"
                                               asp-route-id="@item.Product.ProductId"
                                               asp-route-slug="@item.Product.Title.Slug()"><i class="fa fa-pencil"></i></a>
                                            <button style="border:unset;background-color:unset" type="submit" name="id" value="@item.Product.ProductId"><i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                
                    </div>
                     </form>
                    <form asp-action="Clear" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a asp-action="List" asp-controller="Product" asp-all-route-data="@Model.ProductGridRoute">
                                            Back
                                            to Shopping
                                        </a>
                                    </div>
                                    <div class="cart-clear">
                                        <button type="submit" class="btn btn-danger">Clear Cart</button>
                                        <a asp-action="Checkout" class="btn btn-primary">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
               
            </div>
        </div>
    </div>
</div>